*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --mudkip-blue: #5BBDD9;
    --mudkip-chin-blue: #BADEF4;
    --background-color: #004c69;
}

html{
    font-size: 62.5%;
}

body{
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

.mudkip{
    position:relative;

}

.mudkip__head{
    width: 37rem;
    height:33rem;
    background: var(--mudkip-blue);
    border-radius: 50%;
    border: 0.1rem solid black;
    position: relative;
    overflow: hidden;
}

.mudkip__eye{
    position: absolute;
    top:30%;
    width: 4rem;
    height: 8em;
    background:black;
    border-radius: 50%;
    overflow: hidden;
}

.mudkip__eye--left{
    left:30%;
}

.mudkip__eye--right{
    right:30%;
}

.mudkip__iris{
    position:absolute;
    width:80%;
    height:60%;
    background:white;
    border-radius: 50%;
    top:-10%;
    left:50%;
    transform: translateX(-50%);
    border: 0.1rem solid black;
}

.mudkip__chin{
    position:absolute;
    width:120%;
    height:100%;
    border-radius: 50%;
    top:61%;
    background: var(--mudkip-chin-blue);
    left:50%;
    transform: translateX(-50%);
    border: 0.1rem solid black;
}

.mudkip__nose{
    width: 0.3rem;
    height:1rem;
    position:absolute;
    background:black;
    top:54%;
    transform: translateX(-50%);
}

.mudkip__nose--left{
    left:45%;
    transform: rotate(-40deg);
}

.mudkip__nose--right{
    right:45%;
    transform: rotate(40deg);
}

.mudkip__cheek{
    width:14rem;
    height: 21rem;
    position:absolute;
    background:#F3A565; 
    border-radius: 50%;
    bottom:4%;
    border: 0.1rem solid black;
    z-index: 2;
}
.mudkip__cheek--left{
    left:-12%;
}

.mudkip__cheek--right{
    right: -12%;
}

.mudkip__cheekPoint, .mudkip__cheekPointBackground{
    position: absolute;
    width:20rem;
    height:20rem;
    background:#F3A565;
    top:25%;
    clip-path: polygon(25% 100%, 8% 62%, 35% 69%, 47% 41%, 58% 68%, 83% 62%, 68% 100%);
    z-index: 1;
}

.mudkip__cheekPoint--left{
    left:-40%;
    transform: rotate(270deg);
}

.mudkip__cheekPoint--right{
    transform: rotate(-270deg);
    right:-40%;
    top:30%;
}

.mudkip__cheekPointBackground{
    width:  20rem;
    height:20rem;
    background:black;
    top:25%;
    z-index: 0;
}

.mudkip__cheekPointBackground--left{
    left:-41%;
    transform:scale(1.04) rotate(270deg);
}

.mudkip__cheekPointBackground--right{
    right:-41%;
    transform:scale(1.04) rotate(-270deg);
    top:30%;
}